<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.ServiceModel.DomainServices.Server, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--<add name="plantsoverflowEntities" connectionString="metadata=res://*/Menu.csdl|res://*/Menu.ssdl|res://*/Menu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\COGITOSQLSERVER;initial catalog=plantsoverflow;persist security info=True;user id=sa;password=Sh@ll0w15y;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="con" connectionString="Data Source=.\COGITOSQLSERVER;Initial Catalog=plantsoverflow;Persist Security Info=True;User ID=sa;password=Sh@ll0w15y;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="con" connectionString="Server=.\SQLExpress;AttachDbFilename=C:\Users\Sunny\Documents\Visual Studio 2012\Projects\ProjectPlantsOverflow\ProjectPlantsOverflow\App_Data\pofdb.mdf;Database=dbname;Trusted_Connection=Yes;" providerName="System.Data.SqlClient"/>-->
    <add name="con" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Renniel\Documents\Visual Studio 2012\Projects\ProjectPlantsOverflow\ProjectPlantsOverflow\App_Data\pofdb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
</configuration>